body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('https://d2hk32cswy6zx7.cloudfront.net/fotografos/v2_578b60d2-147f-452c-9dbd-5cfa12d17277.jpg');
    background-size: cover;
    background-position: center;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 46px; 
    color: #8a8888;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.teste {
    color:  rgba(99, 97, 97, 0.8);
    padding: 10px;
    border-radius: 5px;
}